<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227798516904-a5us9tughbsj5ic2ka7umqccofmcg6fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227798516904-a5us9tughbsj5ic2ka7umqccofmcg6fo</string>
	<key>API_KEY</key>
	<string>AIzaSyDb5FCfvQPc7uM6rrsVSgNHCRNHRlta_r8</string>
	<key>GCM_SENDER_ID</key>
	<string>227798516904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexispowell.MarketEats</string>
	<key>PROJECT_ID</key>
	<string>market-eats-1</string>
	<key>STORAGE_BUCKET</key>
	<string>market-eats-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227798516904:ios:b5c6593136945df3fdee9d</string>
</dict>
</plist>